@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
.footerContainer {
    background-color: #011e4a;
    padding: 1.5rem;
}

.footerContainer * {
    font-family: 'Amiri', serif;
}

#dec {
    color: #dddddd
}

.copyRight {
    color: #bbbbbb;
}

ul {
    list-style: none;
}

.footerLink {
    color: #dddddd;
}

.footerLink:hover {
    text-decoration: none;
    color: #ac8417;
}
