<div class="footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="../../assets/RolestaLogo.png" alt="Logo" width="70px" height="70px">
                <p id="dec">احد افرع شركة روليستا الخدمية المتخصصة في الاستشارات القانونية والخدمات العقارية والمركبات</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="links">
                    <ul>
                        <li>
                            <a routerLink="/property-list" class="footerLink">الصفحة الرئيسية</a>
                        </li>
                        <li>
                            <a routerLink="/rent-property" class="footerLink">عقارات للايجار</a>
                        </li>
                        <li>
                            <a routerLink="/buy-property" class="footerLink">عقارات للمبيع</a>
                        </li>
                        <li>
                            <a routerLink="/car-list" class="footerLink">سيارات</a>
                        </li>
                        <li>
                            <a routerLink="/contactUs" class="footerLink">اتصل بنا</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contactInfo">
                    <ul>
                        <li class="footerLink">Tel : +90 536 494 46 23</li>
                        <li class="footerLink">Email : info@rolestagroup.com</li>
                        <li class="footerLink">Çiftlikköy, İsmet İnönü Blv. No:690/19, 33160 Yenişehir/Mersin</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr style="border-color: #aaaaaa50;">
        <div class="copyRight text-center">
            Copyrights &copy; {{year |date:'yyyy'}} | reserved for Rolestadan Group
        </div>
    </div>
</div>