<div class="footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="../../assets/RolestaLogo.png" alt="Logo" width="70px" height="70px">
                <p id="dec">احد افرع شركة روليستا الخدمية المتخصصة في الاستشارات القانونية والخدمات العقارية والمركبات</p>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
        <hr style="border-color: #aaaaaa50;">
        <div class="copyRight text-center">
            Copyrights &copy; {{year |date:'yyyy'}} | reserved for Rolestadan Group
        </div>
    </div>
</div>