<div class="footerContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="../../assets/RolestaLogo.png" alt="Logo" width="70px" height="70px">
                <p id="dec" translate>footer.desc</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="links">
                    <ul>
                        <li>
                            <a routerLink="/property-list" class="footerLink" translate>footer.homePage</a>
                        </li>
                        <li>
                            <a routerLink="/forRent" class="footerLink" translate>footer.rent</a>
                        </li>
                        <li>
                            <a routerLink="/forSale" class="footerLink" translate>footer.sale</a>
                        </li>
                        <li>
                            <a routerLink="/car-list" class="footerLink" translate>footer.cars</a>
                        </li>
                        <li>
                            <a routerLink="/contactUs" class="footerLink" translate>footer.contactUs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contactInfo">
                    <ul>
                        <li class="footerLink">Tel : +90 536 494 46 23</li>
                        <li class="footerLink">Email : info@rolestagroup.com</li>
                        <li class="footerLink" translate>footer.address</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr style="border-color: #aaaaaa50;">
        <div class="copyRight text-center">
            Copyrights &copy; {{year |date:'yyyy'}} | reserved for Rolestadan Group
        </div>
    </div>
</div>