<div class="card">
    <div class="card-header">
        <div class="carousel-delete-btn">
            <button (click)="openModal(template)" class="btn btn-default">
            <i class="fa fa-times-circle"></i>
            </button>
        </div>
        <div class="carousel-edit-btn">
            <button mat-raised-button (click)="openEditDialog()" class="btn btn-primary">تعديل</button>
        </div>
        <img [src]="pictureUrl+carousel.picture" class="carousel-card-img">
    </div>
    <div class="card-body">
        <h5>{{carousel.title}}</h5>
        <p>{{carousel.description}}</p>
    </div>
</div>
<ng-template #template>
    <div class="modal-body text-center">
        <p>هل انت متاكد من الحذف؟</p>
        <button type="button" class="btn btn-danger" (click)="confirm()">حذف</button>
        <button type="button" class="btn btn-default" (click)="decline()">تراجع</button>
    </div>
</ng-template>
