<!-- <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> price </th>
        <td mat-cell *matCellDef="let user"> {{user.price}} </td>
    </ng-container>
    <ng-container matColumnDef="provience">
        <th mat-header-cell *matHeaderCellDef> provience </th>
        <td mat-cell *matCellDef="let user"> {{user.proviences}} </td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> city </th>
        <td mat-cell *matCellDef="let user"> {{user.city}} </td>
    </ng-container>
    <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef> street </th>
        <td mat-cell *matCellDef="let user"> {{user.street}} </td>
    </ng-container>
    <ng-container matColumnDef="noOfRooms">
        <th mat-header-cell *matHeaderCellDef> number Of Rooms </th>
        <td mat-cell *matCellDef="let user"> {{user.noOfRooms}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> type </th>
        <td mat-cell *matCellDef="let user"> {{user.type}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> description </th>
        <td mat-cell *matCellDef="let user"> {{user.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>