<div class="control-panel">
    <div class="row">
        <div class="col-md-6">
            <a href="#">
                <div class="card text-white bg-primary mb-3">
                    <div class="row">
                        <div class="col-md-2 control-icon-container">
                            <i class="fa fa-list-alt control-icon"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-header">Property List</div>
                            <div class="card-body">
                                <h6 class="card-title">Browse existing properties and modify them</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="">
                <div class="card text-white bg-primary mb-3">
                    <div class="row">
                        <div class="col-md-2 control-icon-container">
                            <i class="fa fa-sliders control-icon"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-header">Carousel</div>
                            <div class="card-body">
                                <h6 class="card-title">edit carousel pictures</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12">
            <a href="">
                <div class="card text-white bg-primary mb-3">
                    <div class="row">
                        <div class="col-md-2 control-icon-container">
                            <i class="fa fa-user control-icon"></i>
                        </div>
                        <div class="col-md-10">
                            <div class="card-header">User Control</div>
                            <div class="card-body">
                                <h6 class="card-title">Change the password</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>