<div class="control-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a routerLink="/control-list">
                    <div class="card text-white bg-primary mb-3">
                        <div class="row">
                            <div class="col-md-2 control-icon-container">
                                <i class="fa fa-list-alt control-icon"></i>
                            </div>
                            <div class="col-md-10 text-center">
                                <div class="card-header">العقارات</div>
                                <div class="card-body">
                                    <h6 class="card-title">استعراض العقارات والتحكم بها</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a routerLink="/carousel-control">
                    <div class="card text-white bg-primary mb-3">
                        <div class="row">
                            <div class="col-md-2 control-icon-container">
                                <i class="fa fa-sliders control-icon"></i>
                            </div>
                            <div class="col-md-10 text-center">
                                <div class="card-header">الشرائح</div>
                                <div class="card-body">
                                    <h6 class="card-title">استعراض الصور المتقلبة والتحكم بها</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="">
                    <div class="card text-white bg-primary mb-3">
                        <div class="row">
                            <div class="col-md-2 control-icon-container">
                                <i class="fa fa-user control-icon"></i>
                            </div>
                            <div class="col-md-10 text-center">
                                <div class="card-header">التحكم بالمستخدمين</div>
                                <div class="card-body">
                                    <h6 class="card-title">استعراض المستخدمين الحاليين </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a routerLink="/car-control">
                    <div class="card text-white bg-primary mb-3">
                        <div class="row">
                            <div class="col-md-2 control-icon-container">
                                <i class="fa fa-car control-icon"></i>
                            </div>
                            <div class="col-md-10 text-center">
                                <div class="card-header">السيارات</div>
                                <div class="card-body">
                                    <h6 class="card-title">التحكم بالسيارات واستعراضها</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
