.card-image {
    height: 250px;
}

.carousel {
    margin-top: 5rem;
}

.card-list {
    margin: 1rem 0;
}

.filter-header {
    background-color: goldenrod;
    height: 10px;
    padding: 0;
}

.carousel-control {
    margin-top: .5%;
}

.carousel-image {
    height: 550px;
}

.carousel-caption {
    background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
    border-radius: 30px;
}

.carousel-inner {
    max-height: 400px;
}

.filter {
    background-color: rgba(255, 255, 255, 0.1);
}

.filter-body {
    background-color: rgba(250, 250, 250, .9);
    transition: all 300ms ease;
}

.filter-body:hover {
    background-color: rgba(250, 250, 250, 1);
}

.mat-form-field-infix {
    background-color: white;
}

.filter-form {
    position: absolute;
    bottom: -4%;
    left: 27%;
    z-index: 1000;
}
