<div class="spinner" *ngIf="isloading">
    <div class="spinner">
        <img src="../../assets/RolestaLogo.png" alt="logo">
    </div>
</div>
<div *ngIf="!isloading">
    <carousel [isAnimated]="true">
        <slide *ngFor="let carousel of carousels">
            <img [src]="imageUrl+carousel.picture" alt="first slide" class="carousel-image" style="display: block; width: 100%;">
        </slide>
    </carousel>
    <div class="aboutUs-section">
        <div class="section-image"></div>
        <div class="color-layer"></div>
        <div class="aboutUs-card">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" translate>whoAreUs.title</h2>
                    <p class="card-text" translate>whoAreUs.text</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row pt-4">
            <div class="sectionTitle col-12 text-center">
                <h3 translate>lastProperties</h3>
            </div>
            <div *ngFor="let PCArd of (properties) " class="card-list col-sm-3 ">
                <app-property-card [property]="PCArd " [ifPreview]="true "></app-property-card>
            </div>
        </div>
    </div>
    <div class="ourServices">
        <div class="container">
            <div class="row pt-4">
                <div class="ServicesTitle col-12 text-center">
                    <h2 translate>ourService.title</h2>
                    <p translate>ourService.text</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  service-card">
                        <div class="card-body text-center">
                            <i class="fa fa-users"></i>
                            <h3 class="card-title" translate>
                                Consultservice.title
                            </h3>
                            <p class="card-text" translate>
                                Consultservice.text
                            </p>
                            <button routerLink="/contactUs" class="btn btn-default serviceLink" translate>contactUs</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  service-card green-card">
                        <div class="card-body text-center">
                            <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            <h3 class="card-title" translate>
                                lawservice.title
                            </h3>
                            <p class="card-text" translate>
                                lawservice.text
                            </p>
                            <button routerLink="/contactUs" class="btn btn-default serviceLink" translate>contactUs</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  service-card pink-card">
                        <div class="card-body text-center">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            <h3 class="card-title" translate>
                                citizinService.title
                            </h3>
                            <p class="card-text" translate>
                                citizinService.text
                            </p>
                            <button routerLink="/contactUs" class="btn btn-default serviceLink" translate>contactUs</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card  service-card purple-card">
                        <div class="card-body text-center">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h3 class="card-title" translate>
                                airportService.title
                            </h3>
                            <p class="card-text" translate>
                                airportService.text
                            </p>
                            <button routerLink="/contactUs" class="btn btn-default serviceLink" translate>contactUs</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row pt-4 mb-3">
                <h2 class="w-100 text-center" translate>
                    lastCars
                </h2>
                <div class="col-md-3" *ngFor="let car of cars">
                    <app-car-card [car]="car"></app-car-card>
                </div>
            </div>
        </div>
    </section>
</div>
