<nav class="navbar navbar-expand-lg  fixed-top" appNavbarColor>
    <a class="navbar-brand" routerLink="/"><img src="../../assets/78609333_103911697755510_5088721894190874624_o_rV5_icon.ico" alt="Logo"> Rolestadan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/property-list" translate>navbar.homePage</a>
            </li>
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <button class="nav-link btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate>
                  navbar.realEstate
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/rent-property" translate>navbar.rent</a>
                        <a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/buy-property" translate>navbar.sale</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/car-list" translate>navbar.cars</a>
            </li>
        </ul>
        <div class="nav-link">
            <div class="btn-group" *ngIf="isloggedIn()" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-default login-dropLink dropdown-toggle" aria-controls="dropdown-basic">
                 <span translate>navbar.welecome</span> {{user.userName}} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <a class="dropdown-item" routerLink="/control-panel" translate>navbar.controlPanel</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="logout()" translate>navbar.logOut</a>
                    </li>
                </ul>
            </div>
            <button (click)="test()">test</button>
            <a routerLink="/login" *ngIf="!isloggedIn()" class="nav-link login-btn" translate>navbar.login</a>
        </div>
    </div>
</nav>