<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">RS Property</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/property-list">الصفحة الرئيسية </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/rent-property">استئجار عقار</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/buy-property">شراء عقار</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/car-list">سيارات</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="اكتب عبارة البحث.." style="text-align: right;" dir="rtl" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">بحث</button>
        </form> -->
        <div class="nav-link">
            <div class="btn-group" *ngIf="isloggedIn()" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-default login-dropLink dropdown-toggle" aria-controls="dropdown-basic">
                 اهلا بك {{user.userName}} <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" routerLink="/control-panel">لوحة التحكم</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="logout()">تسجيل الخروج</a>
                    </li>
                </ul>
            </div>
            <a routerLink="/login" *ngIf="!isloggedIn()" class="nav-link login-btn">تسجيل الدخول</a>
        </div>
    </div>
</nav>