.spinner {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    position: relative;
}

.spinner img {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 150px;
    height: 150px;
    animation: spin 600ms linear infinite;
}

@keyframes spin {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}

.head {
    height: 250px;
    width: 100%;
    background: url(../../../assets/Rent.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.blackLayout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: white;
    font-family: 'Amiri', serif;
    font-size: xx-large;
}

mat-form-field.mat-form-field {
    width: 100%;
}

.filter-field {
    text-align: center;
}

@media screen and (max-width:992px) {
    .example-sidenav {
        top: 10% !important;
        z-index: 999 !important;
        width: 100%;
    }
}

.example-sidenav {
    top: 10% !important;
    z-index: 999 !important;
    width: 300px;
}
