<div class="spinner" *ngIf="isLoading">
    <div class="spinner">
        <img src="../../assets/RolestaLogo.png" alt="logo">
    </div>
</div>

<div *ngIf="!isLoading">
    <div class="head">
        <div class="blackLayout">
            <h4 class="title">
                الصفحة الرئيسية - شقق للايجار
            </h4>
        </div>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="property col-md-3" *ngFor="let property of properties">
                <app-property-card [property]="property" [ifPreview]="true"></app-property-card>
            </div>
        </div>
    </div>
    <br>
</div>
