<div class="spinner" *ngIf="isLoading">
    <div class="spinner">
        <img src="../../assets/RolestaLogo.png" alt="logo" />
    </div>
</div>

<div *ngIf="!isLoading">
    <div class="head">
        <div class="blackLayout">
            <h4 class="title" translate>rentPropertyTitle</h4>
        </div>
    </div>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" [opened]="isOpened" class="example-sidenav" [fixedInViewport]="true">
            <div class="filterDrawerArrow"></div>
            <div class="filterSection card p-3">
                <aside>
                    <i class="fa fa-arrow-left" style="float: right;cursor: pointer;" (click)="sidenav.toggle()"></i>
                    <h4 class="text-center" translate>propertyFilter.filterTitle</h4>
                    <mat-form-field class="text-center">
                        <mat-label translate>propertyFilter.adId</mat-label>
                        <input matInput [(ngModel)]="filterParams.name" />
                    </mat-form-field>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="filter-field">
                                <mat-label translate>propertyFilter.propertyCategory</mat-label>
                                <mat-select [(ngModel)]="filterParams.categoryId">
                                    <mat-option *ngFor="let cat of categories" [value]="cat.id">
                                        <span translate>propertyFilter.{{ cat.category_Name }}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <span class="text-center w-100" translate>propertyFilter.priceTitle</span>
                        <mat-form-field class="text-center col-6">
                            <mat-label translate>propertyFilter.min</mat-label>
                            <input matInput [(ngModel)]="filterParams.lowPrice" />
                        </mat-form-field>
                        <mat-form-field class="text-center col-6">
                            <mat-label translate>propertyFilter.max</mat-label>
                            <input matInput [(ngModel)]="filterParams.highPrice" />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <span class="text-center w-100" translate>propertyFilter.AreaTitle</span>
                        <mat-form-field class="text-center col-6">
                            <mat-label translate>propertyFilter.min</mat-label>
                            <input matInput [(ngModel)]="filterParams.lowArea" />
                        </mat-form-field>
                        <mat-form-field class="text-center col-6">
                            <mat-label translate>propertyFilter.max</mat-label>
                            <input matInput [(ngModel)]="filterParams.highArea" />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <span class="text-center w-100" translate>propertyFilter.ageTitle</span>
                        <mat-form-field class="text-center col-6">
                            <mat-label translate>propertyFilter.min</mat-label>
                            <input matInput [(ngModel)]="filterParams.buildingAgeLow" />
                        </mat-form-field>
                        <mat-form-field class="text-center col-6">
                            <mat-label translate>propertyFilter.max</mat-label>
                            <input matInput [(ngModel)]="filterParams.buildingAgeHigh" />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="text-center col-12">
                            <input matInput placeholder="{{
                  'propertyFilter.numberOfRoomsTitle' | translate
                }}" [(ngModel)]="filterParams.noOfRooms" />
                        </mat-form-field>
                    </div>
                    <div class="w-100 text-center">
                        <button class="btn btn-warning" (click)="onFilter(filterParams)" translate>
              propertyFilter.filterButton
            </button>
                    </div>
                </aside>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="col-md-9 col-sm-12">
                <div class="container">
                    <div class="row">
                        <div class="property col-md-4" *ngFor="let property of properties">
                            <app-property-card [property]="property" [ifPreview]="true"></app-property-card>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning" type="button" (click)="sidenav.toggle()" style="left: 0;top: 30%; position: fixed; z-index: 999;">Filters</button>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
