<div class="spinner" *ngIf="isLoading">
    <div class="spinner">
        <img src="../../assets/RolestaLogo.png" alt="logo">
    </div>
</div>

<div *ngIf="!isLoading">
    <div class="head">
        <div class="blackLayout">
            <h4 class="title">
                الصفحة الرئيسية - شقق للايجار
            </h4>
        </div>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="filterSection card col-md-3 p-3">
                <aside>
                    <h4 class="text-center">تصفية النتائج</h4>
                    <mat-form-field class="text-center">
                        <mat-label>معرف الاعلان</mat-label>
                        <input matInput [(ngModel)]="filterParams.name">
                    </mat-form-field>

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="filter-field">
                                <mat-label>نوع العقار</mat-label>
                                <mat-select [(ngModel)]="filterParams.categoryId">
                                    <mat-option *ngFor="let cat of categories" [value]="cat.id">
                                        {{cat.category_Name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <span class="text-center w-100">السعر</span>
                        <mat-form-field class="text-center col-6">
                            <mat-label>من</mat-label>
                            <input matInput [(ngModel)]="filterParams.lowPrice">
                        </mat-form-field>
                        <mat-form-field class="text-center col-6">
                            <mat-label>الى</mat-label>
                            <input matInput [(ngModel)]="filterParams.highPrice">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <span class="text-center w-100">المساحة</span>
                        <mat-form-field class="text-center col-6">
                            <mat-label>من</mat-label>
                            <input matInput [(ngModel)]="filterParams.lowArea">
                        </mat-form-field>
                        <mat-form-field class="text-center col-6">
                            <mat-label>الى</mat-label>
                            <input matInput [(ngModel)]="filterParams.highArea">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="text-center col-12">
                            <input matInput placeholder="عدد الغرف" [(ngModel)]="filterParams.noOfRooms">
                        </mat-form-field>
                    </div>
                    <div class="w-100 text-center">
                        <button class="btn btn-warning" (click)="onFilter(filterParams)">تصفية</button>
                    </div>
                </aside>
            </div>
            <div class="property col-md-3" *ngFor="let property of properties">
                <app-property-card [property]="property" [ifPreview]="true"></app-property-card>
            </div>
        </div>
    </div>
    <br>
</div>