<div class="propertyCard text-right" dir="rtl">
    <div *ngIf="ifPreview" class="mt-1">
        <a routerLink="/property-detail/{{ property.id }}">
            <div class="card-image-section">
                <div class="property-card-type">
                    <h5 translate="propertyCard.{{subCategory.subCategoryName }}">

                    </h5>
                </div>
                <div class="card-bottom">
                    <div class="property-card-typeName">
                        <h5 translate="propertyCard.{{ type.typeName }}">

                        </h5>
                    </div>
                    <div class="property-card-address">
                        <span style="color: grey">
              <span *ngIf="property.provience"
                >{{ property.provience }} -
              </span>
                        <span *ngIf="property.city">{{ property.city }} - </span>
                        <span>{{ property.street }}</span>
                        </span>
                    </div>
                </div>
                <div class="property-card-price">
                    <span class="subPrice">{{ property.price | number }} &#8378;</span>
                </div>
                <div class="property-card-noOfRooms">
                    <span *ngIf="property.noOfRooms"> {{ property.noOfRooms }}+1 </span>
                </div>
                <div class="image-wrapper">
                    <img *ngIf="!property.image" class="card-image card-img-top" src="assets/house.png" alt="" />
                    <img [src]="[baseUrl + imageUrl + property.image[0]]" class="card-image" alt="first slide" style="display: block; width: 100%" />
                </div>
            </div>
        </a>
    </div>
</div>