/* You can add global styles to this file, and also import other style files */

@import './assets/tabs.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
}

.carousel-inner {
    max-height: 30%;
}

.control-section {
    margin-top: 4.8rem;
    margin-bottom: 2rem;
}

.filterSection {
    background-color: rgba(128, 127, 127, 0.1);
}