<div class="col-sm-12 p-0">
    <div class="image-wrapper">
        <img *ngIf="!property.image" class="card-image card-img-top" src="assets/house.png" alt="" />
        <carousel [isAnimated]="true" *ngIf="property.image" class="card-image card-img-top">
            <slide *ngFor="let item of property.image">
                <a (click)="openModal(template,item)" class="image-pop">
                    <img [src]="[baseUrl+imageUrl+item]" class="card-image" alt="first slide" style="display: block; width: 100%;">
                </a>
            </slide>

            <ng-template #template>
                <img [src]="[baseUrl+imageUrl+pic]" class="card-image" alt="first slide" style="display: block; width: 100%;">
            </ng-template>
            <div class="infoSection">
                <span class="detail-info">
                      الاسم : {{property.name}}
                    </span>
                <hr>
                <span class="detail-info">
                      العنوان : {{property.provience}} - {{property.city}} - {{property.street}}
                    </span>
                <hr>
                <span class="detail-info">
                      المساحة : {{property.area}}
                    </span>
                <hr>
                <span class="detail-info">
                      الطابق : {{property.floor}} <br>
                      عدد طواق البناء : {{property.buildingFloors}}
                    </span>
                <hr>
                <span class="detail-info">
                      عمر البناء : {{property.buildingAge}}
                    </span>
                <hr>
                <span class="detail-info">
                      عدد الغرف: {{property.noOfRooms}}
                    </span>
                <hr>
                <span class="detail-info">
                      نوع التدفئة : {{heat.heatingName}}
                    </span>
                <hr>
                <span class="detail-info">
                      تاريخ الاعلان: {{property.date |date: 'yyyy-MM-dd'}}
                    </span>
                <hr>
            </div>

            <div class="price-section">
                <span>{{property.price |number}} TL</span>
            </div>
        </carousel>
    </div>
</div>
<br>
<div class="container">
    <div class="row shadow">
        <div class="col-sm-12 p-0">
            <div class="tab-panel p-3">
                <tabset class="member-tabset" style="text-align: right; direction: rtl;">
                    <tab heading="الوصف">
                        <h3>وصف العقار</h3>
                        <p>{{property.description}}</p>
                    </tab>
                    <tab heading="معلومات التواصل">
                        <h1>معلومات التواصل</h1>
                        <div class="container">
                            <div class="row">
                                <h4>{{property.phoneNumber}}</h4>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>
<hr>
<div class="similerProperties" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-3 text-right">
                <h2>عقارات مماثلة</h2>
            </div>
            <div class="col-md-4" *ngFor="let property of similerProperties">
                <app-property-card [property]="property" [ifPreview]="true"></app-property-card>
            </div>
        </div>
    </div>
</div>